/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
@import 'react-lazy-load-image-component/src/effects/blur.css';


.customConnectButton{
  background-color: #212B36;
  height: 48px;
  width: 380px;
color: #fff;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
  font-size: 15px;
transition: background-color 0.3s;
}


.customConnectButton:hover {
  transition: background-color 0.3s;
}
